body,
.v-application {
  /* Hintergrundfarbe für die gesamte App */
  height: 100% !important;
  width: 100% !important;
  font-family: "Bahnschrift", Arial, sans-serif;
}

.v-app {
  /* Hintergrundfarbe für die gesamte App */
  height: 100% !important;
  width: 100% !important;
  font-family: "Bahnschrift", Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

.main-content {
  flex: 1;
}

th {
  background-color: #aeaeae !important;
  font-size: large;
  color: black;
}

td {
  color: black;
}

/*modify table header position*/
th span {
  margin-left: 110px !important;
}

.v-container {
  /* padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px; */
  width: 100%;
  padding: 0;
  margin: 0;
}

.full-width {
  width: 95vw;
}
